h1,a{font-family: cursive, sans-serif; }

h1{font-size: 50px;}

a{  font-size: 40px;
    color:goldenrod; 
 }

.recipes{padding-left: 790px;}

.ingredients{padding-left: 850px;}

.steps{padding-left: 900px;}

.ingredientlist{padding-left: 650px;}

.steplist{
    padding-left: 300px;
    padding-right:100px;
}

h2{font-size:30px}

li{font-size:25px}

ul{list-style-position: inside;}

*{background-color: antiquewhite;}



